<div *ngIf='!(isMobile$ | async); else isMobile' class='h-full overflow-hidden mat-app-background'>
  <ng-container>
    <app-header (darkModeActivate)='darkModeActivate($event)' [sidenav]='sidenav'></app-header>
    <mat-sidenav #sidenav mode='side' opened *ngIf='!(mdDevice$ | async)' class='mt-20'>
      <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-container class='sidenav-container'>
      <mat-sidenav *ngIf='mdDevice$ | async' #sidenav mode='side' opened class='mt-4'>
        <app-side-menu></app-side-menu>
      </mat-sidenav>
      <mat-sidenav-content class='flex bg-white'>
        <div class='main-content mx-auto'>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
</div>

<ng-template #isMobile>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header [sidenav]='sidenav'></app-header>
      <div class='main-content lt-md:mt-8'>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>

<!--<div *ngIf="mdDevice$ | async">-->
<!--  <app-header [sidenav]="sidenav"></app-header>-->
<!--  <mat-sidenav-container class="sidenav-container">-->
<!--    <mat-sidenav #sidenav mode="side" opened>-->
<!--      <app-side-menu></app-side-menu>-->
<!--    </mat-sidenav>-->
<!--    <mat-sidenav-content class="flex bg-white">-->
<!--      <div class="main-content mx-auto">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--    </mat-sidenav-content>-->
<!--  </mat-sidenav-container>-->
<!--</div>-->

