<div class="header-line bg-white grid-cols-4 box-border bg-scroll">
  <!-- Article Header -->
  <div class="text-base text-xl pb-3">
    Top news
  </div>
  <mat-divider class="pb-3"></mat-divider>
  <!-- Article[0] -->
  <article class="flex-col box-content grid grid-cols-3 pb-3">
    <div class="text-xl cursor-pointer hover:underline col-span-3 inline-grid w2/3 pr-2"
         style="box-sizing: content-box;
         width: 90%;">
      Covid 19 coronavirus: Less invasive saliva-testing to help save border workers' nostrils
      <app-source></app-source>
    </div>
    <figure class="col-end-6">
      <img
        src="https://lh6.googleusercontent.com/proxy/Eb29-XAcB0lP6h0oU5wHTXiJJZ3sF6MjYb7JdrYgLj6rOjbtX5J13KQFHgGTIfuWk-x0585bQmXcLAY_rcT-BSZqgkrSQJeaya7q88TP7x7fuPs3uTe3BfrFCRxxXzIPi-E21PvV4FGdousOAz7Tk-6IjfBQVEw9Z8QJsjnI2LI-eUyJxuwnB5uSJgwh0o5eQmS8OfhRZ5dDfIRRDRfxMDZS61R2l_SI=-p-df-h100-w100-rw"
        alt=""
      >
    </figure>
  </article>
  <!--Article[1]-->
  <article class="flex-col box-content grid grid-cols-3 pb-3">
    <div class="text-xl cursor-pointer hover:underline col-span-3"
         style="box-sizing: content-box;
         width: 90%;">
      Covid 19 coronavirus: Pfizer CEO says third virus jab may be needed, plus annual booster
      <app-source></app-source>
    </div>
    <figure class="col-end-6">
      <img
        src="https://lh4.googleusercontent.com/proxy/ucefRhmVQqU0diz9N4sBZIzE9cnTmm423Jrhf63Qd-trW1mMW8eRPKmeXXhS56yGgjV_Hn_BHJ8wDV_A06ASK1XVtpDw5C-WcL5b8-ZPW621V0gmoIJliXjiKPEVbDwckPwXg4AQ8OjfJzb1o_5GRxx3Wm2NO_ImCjWjlLu8BAjPiBFE4PDR6p-eqtp1Kxs16_fDTMSY7eKC11t8zUQ=-p-df-h100-w100-rw"
        alt=""
      >
    </figure>
  </article>
  <!-- Article[2] -->

</div>
