<div class="headline flex cursor-pointer bg-white mt-4">
  <div class="w-5/6 pr-8">
    <app-news-item></app-news-item>
  </div>
  <div class="w-1/6">
    <img
      class="m-auto w-full rounded-lg"
      src="https://lh4.googleusercontent.com/proxy/-7Ea7wMpXp_zQgZVoeQMWTchBmDoQ17xTU7g3QDMnEZzWVMREJBs9OADaPSuTq12U7Lhyd2wyymvrUv2mOXx3zLZGBIkM233rLKiTr-fM0zU4Jl1Z5bIoWKrgBreSH9i-5ZcZysQ7mzrsGZipI3GNOZHTtxaRJg6j7HFY6KxlCqI_G6JhVoZmHWWBT76kA9zF1uzIGkFzQ9DwggdV6tvD91E_6ObTrr8DiA0uADqTRz_ABhyYJM2cHzzI8XyNWJH1S977W1l6PgwgGDCvY1p=-p-df-h100-w100-rw"
      alt="">
  </div>
</div>
