<div class="topic-card-headline cursor-pointer bg-white w-10/12">
  <div class="flex justify-center">
    <div class="flex h-16">
      <img src="https://lh3.googleusercontent.com/62M4-fH8fIgXgKTeMQ1I0PX0AP7jiqfKIiL4jtyw9fRp0HUxoYMiW1TILeJIAQsjVBWHpFsUtTHdZul-WYk=-p-df-h100-w100-rw" alt=""
           style="width: 50px; height: 50px; margin-right: 18px; margin-top: 8px;">
      <div class="m-auto text-center">
        <span>FOLLOWING TOPIC</span>
      </div>
    </div>
    <div class="menu-icon ml-5 mt-3">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>keyboard_arrow_down</mat-icon>
          <span>Move towards bottom</span>
        </button>
        <button mat-menu-item>
          <mat-icon>vertical_align_bottom</mat-icon>
          <span>Move to bottom</span>

        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
