<mat-card>
  <mat-card-content>
    <div class="headline flex cursor-pointer mt-4">
      <div class="w-5/6 pr-8">
        <app-news-sub-item></app-news-sub-item>
        <app-news-sub-item></app-news-sub-item>
        <div *ngIf="!collapsed" @expandCollapse>
          <app-news-sub-item></app-news-sub-item>
          <app-news-sub-item></app-news-sub-item>
          <app-news-sub-item></app-news-sub-item>
        </div>
      </div>
      <div class="w-1/6">
        <img
          class="m-auto w-full rounded-lg"
          src="https://lh4.googleusercontent.com/proxy/-7Ea7wMpXp_zQgZVoeQMWTchBmDoQ17xTU7g3QDMnEZzWVMREJBs9OADaPSuTq12U7Lhyd2wyymvrUv2mOXx3zLZGBIkM233rLKiTr-fM0zU4Jl1Z5bIoWKrgBreSH9i-5ZcZysQ7mzrsGZipI3GNOZHTtxaRJg6j7HFY6KxlCqI_G6JhVoZmHWWBT76kA9zF1uzIGkFzQ9DwggdV6tvD91E_6ObTrr8DiA0uADqTRz_ABhyYJM2cHzzI8XyNWJH1S977W1l6PgwgGDCvY1p=-p-df-h100-w100-rw"
          alt="">
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex justify-between px-4">
      <div class="flex-1 flex">
        <div class="flex mr-2">
          <img class="m-auto h-1/2" src="assets/images/news-icon.png" alt="">
        </div>
        <div class="flex">
          <span class="m-auto color-primary">View full coverage</span>
        </div>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon class="mat-18" (click)="collapsed=false" *ngIf="collapsed">expand_more</mat-icon>
          <mat-icon class="mat-18" (click)="collapsed=true" *ngIf="!collapsed">expand_less</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
