<div class="headline-expansion flex-col cursor-pointer mt-4">
  <div class="flex">
    <div class="w-5/6 pr-8 flex-col justify-between">
      <app-news-item></app-news-item>
      <app-news-sub-item></app-news-sub-item>
      <app-news-sub-item></app-news-sub-item>
    </div>
    <div class="w-1/6">
      <img
        class="m-auto w-full rounded-lg"
        src="https://lh6.googleusercontent.com/proxy/1FwIiZOZlT_tLliQuCMho1uJKbQuJrhu0ogzWVQYkvAa9_z7eu4fpFpnQY84n6G0IInXrIRasTK7ZA4UchmPw_04hqmPc8BhsNwd2JxGWnDDAK9nHoUqDA3BbQmD4p0sVRwZvNtdms-iv7nIVwVkyLeh3B0HIwrep-AWCkFeH-MMrn0-QuXNzFSP81rbtm3icyw_Zel_c8zdziCrBRoXcWZMZc5Ds8jp=-p-df-h100-w100-rw"
        alt="">
    </div>
  </div>
  <app-news-expansion></app-news-expansion>
</div>
