.container{
  height: 1100px;
  white-space: normal;
  width: auto;
}
.save-search-border{
  border-color: #dadce0;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  font-size: 0.875rem;
  line-height: 1.4;
  padding-bottom: 1.25rem;
  padding-top: 1.5rem;
  //text-align: center;
  //margin: auto;
}
.saveSearchImg{
  width: 140px;
  height: 140px;
  //margin-left: 43.5%;
}
//.description{
//  display: flex;
//  flex-direction: column;
//}
