<mat-tab-group mat-align-tabs="following-tabs">
  <mat-tab label="Topic&Sources">
    <ng-template mat-tab-label>
      Topic&Sources
    </ng-template>
    This ins the inner body
  </mat-tab>
  <mat-tab label="Saved Searches">
    <ng-template mat-tab-label>
      Saved Searches
    </ng-template>
    inner body add here
  </mat-tab>
  <mat-tab label="Saved Stories">
    <ng-template mat-tab-label>
      Saved Stories
    </ng-template>
    saved stories body here
  </mat-tab>
</mat-tab-group>
