<div class="flex justify-between my-8 header-container">
  <div class="header-left">
    <img
      src="https://lh3.googleusercontent.com/0HzdNrFxnZLcez8TVLpRlxBEuvkpPmY6KfD4SrqlOu-8d_esel6cKupKnNL6T8Svo5WddCIBew=p-rw"
      alt="" class="header-icon">
    <span class="text-black text-3xl p-4">Coronavirus</span>
  </div>
  <!--  header Left component end-->
  <div class="header-right text-center h-8">
    <span class="">
    <button
      mat-raised-button>
        <mat-icon class="header-right-icon">star_border</mat-icon>
        <span class="text-sm">Follow</span>
    </button>
    </span>

    <span class="pl-4">
    <button
      mat-raised-button>
       <mat-icon class="header-right-icon">share</mat-icon>
       <span class="text-sm">Share</span>
    </button>
  </span>
  </div>
  <!--Header right component end here-->
</div>
<div class="overall-contents">
  <div class="top-content">
    <sirius-top-news></sirius-top-news>
  </div>
</div>
