@import '~@angular/material/theming';

.headline-simple {
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  padding: 20px;

  &:hover {
    @include mat-elevation(4);
  }

  &--link {
    color: #1a73e8;
  }
}
