/* You can add global styles to this file, and also import other style files */
@import "styles/tailwind";
@import '~@angular/material/theming';
@import "styles/material-override";
@import "styles/app.theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-primary {
  color: #1a73e8;
}
