@import '~@angular/material/theming';

.local-card-headline {
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  padding: 20px;
  width: max(320px);
  &:hover {
    @include mat-elevation(2);
  }
}
.local-avatar{
  margin-right: 80px;
  width: 70px;
  height: 70px;
 }
