<div class="local-card-headline cursor-pointer bg-white w-10/12">
  <div class="flex justify-center">
    <div class="flex h-16">
      <div class="local-avatar">
        <img class="rounded"
             [src]="imgAuckland"
             alt="">
      </div>
      <div class="m-auto text-center">
        <span ngModel>{{cityName.fields[0].val}}</span>
      </div>
    </div>
    <div class="menu-icon ml-5 mt-3">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
